:host {
    display: block;
    height: 100vh;
    background-color: DARKORANGE;
    position: relative;
}
.fa-car {
    color: darkred;
}
.fa-sun-o {
    display: inline-block;
}
#headertitle {
    text-align: center;
    color: white;
    height: 100%;
    font-family: 'Merriweather', serif;
    display: inline-block;
}
.subtitle {
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
}
.heading {
    background-color: DARKORANGE;
}
.footer{
    display: block;
    bottom: 0;
    text-align: center;
    background-color: darkorange;
}
.story {
    background-image: url('../assets/car.jpg');
    background-size: cover;
    height: 780px;
}
#by {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Asar', serif;
}
#imagecredit {
    color: black;
    text-decoration: none;
    font-size: 10px;
}

a:link  {
    text-decoration: none;
    color: black;
}

a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
/*a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}*/
