<div class="container-fluid">
  <div class="row heading">
    <div class="col-md-12">
      <h1 id="headertitle">Pete <i class="fa fa-car" aria-hidden="true"></i></h1>
        <span class="subtitle">The desert is a wonderful place, full of wonderful people.</span>
    </div>
  </div>
  <div class="row story">
    <div class="col-md-12">
      <sp-story></sp-story>
    </div>
  </div>
  <div class="row footer">
    <div class="col-md-12">
      <hr>
      <p id="by">by Daniel Hofman</p>
    </div>
  </div>
</div>
