:host {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}
.wrapper {
    border: 1px solid black;
    box-shadow: 2px 2px 1.5px rgba(0,0,0,0.5);
    display: inline-block;
    margin: 10% auto;
    height: 300px;
    width: 300px;
    color: white;
    background-color: DARKORANGE;   
}
#ticketLine {
    margin: 0 10%;
}
.hiddenwords {
    margin-top: 30%;
}
.hiddenwords2 {
    color: darkorange;
}
/*.linky {
    text-decoration: none;
    color: darkorange; 
    transition: color 1s;
}
.linky:hover {
    color: red;
    text-decoration: none;
    transition: color 1s;
}*/

a:link {
    text-decoration: none;
    color: darkorange; 
    transition: color 1s;
}

a:visited {
    text-decoration: none;
    color: darkorange; 
    transition: color 1s;
}

a:hover {
    color: red;
    text-decoration: none;
    transition: color 1s;
}

a:active {
    text-decoration: none;
    color: darkorange; 
    transition: color 1s;
}
